*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear{clear: both;}

#section4-sobre .flex,#section5-sobre .flex{
  display: flex;
  flex-wrap: wrap;
}

#section1-sobre{
  background-image: url(../images/img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

#section1-sobre .overlay{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  padding: 33px 0;
}

#section1-sobre .overlay h1{
  color: #44D4C5;
  font-size: 35px;
  font-weight: normal;
}

#section1-sobre .overlay p{
  color: white;
  font-weight: lighter;
  margin-top: 15px;
}

#section2-sobre{
  padding: 30px 0;
  width: 100%;
}

#section2-sobre .img-sec2{
  width: 50%;
  float: left;
}

#section2-sobre .img-sec2 img{
  width: 100%;
}

#section2-sobre .disc2-sobre{
  float: right;
  width: 50%;
  padding-left: 15px;
}

#section2-sobre .disc2-sobre p{
  margin-top: 13px;
}

#section2-sobre p{
  margin-top: 10px;
}

#section3-sobre{
  width: 100%;
  background-image: url(../images/bg1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  text-align: center;
  padding: 30px 0px 80px 0px;
}

#section3-sobre h3{
  border: 1px solid #44D4C5;
  color: #44D4C5;
  padding: 5px 25px;
  display: inline-block;
  margin-bottom: 5px;
}

#section3-sobre p{
  color: white;
  margin-top: 10px;
}

#section4-sobre{
  padding: 40px 0;
  width: 100%;
}

#section4-sobre h1{
  color: #52aaa7;
  font-size: 27px;
  font-weight: normal;
}

#section4-sobre .avatar{
  width: 33.3%;
  text-align: center;
  padding: 0 20px;
  margin-top: 40px;
}

#section4-sobre .avatar img{
  width: 100%;
  max-width: 200px;
  min-height: 200px;
  border-radius: 50%;
}

#section4-sobre .avatar h3{
  font-weight: normal;
}

#section4-sobre .avatar p{
  font-weight: lighter;
}

#section5-sobre{
  background-color: rgb(230,230,230);
  border-top: 2px solid rgb(210,210,210);
  padding: 20px 0;
}

#section5-sobre .imagem{
  width: 50%;
  padding-right: 100px;
}

#section5-sobre .imagem img{
  width: 100%;
}

#section5-sobre .historia{
  width: 50%;
}

#section5-sobre .imagem h1, .historia h1{
  font-weight: normal;
  color: #52aaa7;
  margin-bottom: 10px;
}

#section5-sobre .historia p{
  font-weight: lighter;
}

@media screen and (max-width: 760px){

  #section1-sobre .overlay{
    padding: 33px 4%;
  }

  #section2-sobre .img-sec2{
    float: none;
    width: 100%;
    padding: 0px 4%;
  }

  #section2-sobre .disc2-sobre{
    float: none;
    width: 100%;
    text-align: left;
    padding: 0;
    margin-top: 10px;
  }

  #section2-sobre p{
    text-align: left;
    padding: 0 4%;
  }

  #section4-sobre .center{
    padding: 0 3%;
  }

  #section4-sobre .avatar{
    width: 100%;
  }
  
  #section4-sobre .avatar img{
    max-width: 100%;
    max-width: 200px;
  }

  #section5-sobre{
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 20px;
  }

  #section5-sobre .imagem{
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  #section5-sobre .historia{
    width: 100%;
  }

}